/.idea/.idea.StudyProgramming/.idea/.gitignore
/packages/NUnit.3.5.0/.signature.p7s
/packages/NUnit.3.5.0/CHANGES.txt
/.idea/.idea.StudyProgramming/.idea/encodings.xml
/.idea/.idea.StudyProgramming/.idea/indexLayout.xml
/packages/NUnit.3.5.0/LICENSE.txt
/packages/NUnit.3.5.0/NOTICES.txt
/packages/NUnit.3.5.0/NUnit.3.5.0.nupkg
/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net20/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.5.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.5.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.dll
/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net20/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.5.0/lib/portable-net45+win8+wp8+wpa81+Xamarin.Mac+MonoAndroid10+MonoTouch10+Xamarin.iOS10/nunit.framework.xml
/packages/NUnit.3.5.0/lib/net20/NUnit.System.Linq.dll
/.idea/.idea.StudyProgramming/.idea/riderModule.iml
/.idea/.idea.StudyProgramming/.idea/vcs.xml
